// Mixins
@import "src/assets/scss/mixins";

:root,
[data-theme=light] {
  color-scheme: light;
  --app-header-bg-color: white;
  --app-footer-bg-color: white;
  --app-main-bg-color: var(--bs-body-bg);
}

[data-theme=dark] {
  color-scheme: dark;
  --app-header-bg-color: var(--bs-primary-rgb);
  --app-footer-bg-color: var(--bs-primary-rgb);
  --app-main-bg-color: var(--bs-body-bg);
}

// Reset
body {
  min-height:  100vh;
  overflow-x:  hidden;
}

// Card
.card {
  background-color: white;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15);
  padding: 16px;
  margin-bottom: 8px;

  > :only-child,
  > :not(:only-child):first-child {
    margin-top: 0;
  }

  &:last-of-type,
  > :only-child,
  > :not(:only-child):last-child {
    margin-bottom: 0;
  }

  @include container(&)
}

// Form
.form {
  padding-bottom: 80px;

  .btn-group {
    width: 100%;
  }

  &-label,
  &-check > label {
    color: #344054;
    font-size: 0.9rem;
    font-weight: 500;
  }

  &-control,
  &-select {
    font-size: 0.9rem;
    color: var(--bs-body-color);
    background-color: white;
    border: 1px solid #d0d5dd;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
  }

  > :last-child {
    margin-bottom: 0;
  }

  @include container(&)
}

form > .navbar {
  background-color: white;
  box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.1);

  &, > .container {
    min-height: 80px;
    padding-top: 0;
    padding-bottom: 0;
  }

  > .container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: stretch;
    align-content: center;
    align-items: center;
  }
}

// Button
/*.btn-lg, .btn-group-lg > .btn {
  --bs-btn-padding-y: 0.7rem;
  --bs-btn-padding-x: 1rem;
  --bs-btn-font-size: 1.0rem;
  --bs-btn-border-radius: var(--bs-border-radius-lg);
}*/

// Heading
h1, h2, h3, h4, h5, h6 {
  @include container(&)
}
