// 1rem = 16px, rate = 0.0625

:root,
[data-theme="light"] {
    color-scheme:          light;
    --app-header-bg-color: white;
    --app-footer-bg-color: white;
    --app-main-bg-color:   var(--bs-body-bg);
}

[data-theme="dark"] {
    color-scheme:          dark;
    --app-header-bg-color: var(--bs-primary-rgb);
    --app-footer-bg-color: var(--bs-primary-rgb);
    --app-main-bg-color:   var(--bs-body-bg);
}

//**********************************************
// Mixins
//**********************************************
@import "src/assets/scss/mixins";

//**********************************************
// Reset
//**********************************************
body {
    overflow-x: hidden;
    min-height: 100vh;
}

//**********************************************
// Card
//**********************************************
.card {
    padding:    16px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);

    @include container(&);

    > :only-child,
    > :not(:only-child):first-child {
        margin-top: 0;
    }

    &:last-of-type,
    > :only-child,
    > :not(:only-child):last-child {
        margin-bottom: 0;
    }

    > div:not(:last-of-type) {
        @extend .mb-3;
    }

    > .alert {
        @extend .d-flex, .align-items-baseline;

        > img {
            @extend .me-2;
        }
    }
}

//**********************************************
// Form
//**********************************************

$footer-height: 5rem; // 80px

.form {
    padding-bottom: 5rem;

    @include container(&);

    > .card {
        @extend .mb-2;
    }

    .btn-group {
        width: 100%;
    }

    &-label, &-check-label {
        font-size:   0.9rem;
        font-weight: 500;
        width:       100%;
        color:       #344054;

        .foot, > .mandatory {
            @extend .float-end, .ms-2;
        }

        .foot {
            @extend .text-body-tertiary;
        }

        @extend .clearfix;
    }

    &-control, &-select {
        font-size:        0.9rem;
        color:            var(--bs-body-color);
        border:           1px solid #d0d5dd;
        border-radius:    6px;
        background-color: white;
        box-shadow:       0 1px 2px 0 rgba(0, 0, 0, 0.1);
    }

    &-list {
        > .row {
            @extend .mx-0;

            > .col {
                &:first-child:nth-last-child(2) {
                    @extend .ps-0, .col-7;
                }

                &:last-child:nth-child(2) {
                    @extend .pe-0, .col-5;
                }

                &:first-child:nth-last-child(4),
                &:nth-child(2):nth-last-child(3),
                &:nth-child(3):nth-last-child(2),
                &:last-child:nth-child(4) {
                    @extend .px-0, .col-3;
                }
            }
        }
    }

    > .navbar {
        background-color: white;
        box-shadow:       0 -2px 2px 0 rgba(0, 0, 0, 0.1);

        @extend .fixed-bottom;

        &, > .container {
            min-height: 5rem;
            padding-top:    0;
            padding-bottom: 0;
        }

        > .container {
            display:               grid;
            align-content:         center;
            align-items:           center;
            justify-content:       center;
            grid-template-columns: 1fr;
            justify-items:         stretch;
        }

        .btn {
            @extend .btn-lg;
        }
    }

    > :last-child {
        @extend .mb-0;
    }
}

//**********************************************
// Carousel
//**********************************************
.carousel {
    @extend .mb-3;
    @include container(&);

    .main > &-inner {
        border-radius: 0 0 .5rem .5rem;
    }
}

//**********************************************
// Mandatory
//**********************************************
.mandatory {
    color: var(--bs-danger);
}

//**********************************************
// Heading
//**********************************************
h1, h2, h3, h4, h5, h6 {
    @include container(&);
}
