//**********************************************
// App Form
//**********************************************

$custom-bg-color: #f2f4f7;

.app-form {
    @extend .app-content;

    label {
        cursor:   pointer;
        overflow: hidden;
        position: relative;
    }

    .form-label {
        width: 100%;

        @extend %__t-card-subtitle;
    }

    .form-label {
        > .foot, > .feedback {
            @extend .float-end, .ms-2;
        }

        > .feedback.show + .foot {
            @extend .d-none;
        }

        > .foot {
            @extend .d-block, .text-body-tertiary;
        }

        @extend .clearfix;
    }

    .form-control,
    .form-select {
        font-size:        0.9rem;
        color:            var(--bs-body-color);
        border:           1px solid #d0d5dd;
        border-radius:    6px;
        background-color: white;
        box-shadow:       0 1px 2px 0 rgba(0, 0, 0, 0.1);
    }

    .btn-group {
        @extend .d-flex;
    }

    .feedback {
        color: var(--bs-danger);
        display: none;

        &.show {
            display: block;
        }
    }
}

.form-tab {
    $tab-height:      44px;
    $tab-radius:    8px;
    $tab-padding:   3px;

    display:        flex;
    flex-direction: row;
    flex-wrap:      nowrap;
    flex-basis:     100%;
    background-color: $custom-bg-color;
    height:           $tab-height;
    border-radius:  $tab-radius;
    padding:        $tab-padding;

    > label {
        background-color: white;
        border-radius:    $tab-radius - $tab-padding;
        border:           1px solid rgba(0, 0, 0, .04);
        line-height:      1;
        padding:          0;

        @extend %__t-check-cracker;
    }

    > input {
        display: none;
    }
}

.form-cracker {
    $cracker-height: 36px;
    $padding-side:   14px;

    display:         inline-flex;
    padding:         0;
    margin-right:    12px;
    margin-bottom:   12px;

    > label {
        background-color: $custom-bg-color;
        display:          flex;
        flex-direction:   row;
        flex-wrap:        nowrap;
        justify-content:  center;
        align-items:      center;
        min-width:        60px;
        height:           $cracker-height;
        border-radius:    $cracker-height / 2;
        border:           2px solid transparent;
        line-height:      1;
        padding:          0 $padding-side;

        @extend %__t-check-cracker;
    }

    > label:hover,
    > input:checked {
        + label {
            box-shadow: 0 0 0 4px $custom-bg-color;
        }
    }

    > input {
        display: none;

        &:checked {
            + label {
                background-color: rgba(47, 86, 255, .2);
                border-color:     rgba(47, 86, 255, .7);
            }
        }

        &[type="checkbox"] {
            + label {
                &:before {
                    content:  "";
                    position: absolute;
                    left:     $padding-side;
                    display:  block;
                    width:    14px;
                    height:   14px;
                }
            }

            &:checked {
                + label {
                    padding-left: $padding-side + 18px;

                    &:before {
                        background: transparent url("#{$media-url}/icon_check_dark.svg") no-repeat center center;
                    }
                }
            }
        }
    }
}
