//**********************************************
// Typography
//**********************************************

.__t-3 {
    font-size:   1rem;
    font-weight: 500;
    line-height: 1.5rem;
    color:       #344054;
}