// Path
$fonts: "../fonts/";
$media: "../media/";

// Root
$root_unit: 20px;

// Layout
$layout_unit: 1rem;
$layout_font-size: 16px;
$layout_gap: 40px;

// Container
$container_width: 1280px;
$container_gap: $layout_gap;

// Grid
$grid_column: 12;
$grid_gap: $layout_gap;

// Application
$header_height: 5rem; // ~96px
$footer_height: 11rem; // 220px
$main_height: 11rem; // 220px
$border_radius: 0.35rem;

// Fonts
$font_family_sans_serif: FuturaLight, FuturaMedium, Futura;

:root {
  // Theme
  //@include app-theme;
}
