// Bootstrap
@import "bootstrap";

// Mixins
@import "mixins";
@import "typography";

//**********************************************
// Variables
//**********************************************
// 1rem = 16px, rate = 0.0625

:root,
[data-theme="light"] {
    color-scheme:          light;
    --app-header-bg-color: white;
    --app-footer-bg-color: white;
    --app-main-bg-color:   var(--bs-body-bg);
}

[data-theme="dark"] {
    color-scheme:          dark;
    --app-header-bg-color: var(--bs-primary-rgb);
    --app-footer-bg-color: var(--bs-primary-rgb);
    --app-main-bg-color:   var(--bs-body-bg);
}

$header-height: 4rem;
$footer-height: 5rem;

//**********************************************
// Reset
//**********************************************

body {
    overflow-x: hidden;
    min-height: 100vh;
}

//**********************************************
// Application
//**********************************************

#app {
    display:            grid;
    align-content:      space-between;
    align-items:        start;
    height:             100vh;
    grid-template-rows: auto 1fr;
    grid-auto-rows:     auto;
    justify-items:      stretch;
}

//**********************************************
// App Header
//**********************************************

#app-header {
    z-index: $zindex-sticky;
    background-color: var(--app-header-bg-color);
    box-shadow:       0 2px 2px 0 rgba(0, 0, 0, 0.1);

    @extend .position-sticky, .top-0;
    @extend .navbar, .py-0;

    &, > .container {
        height: $header-height;
    }

    > .container {
        @extend .px-0;

        > * {
            align-items:    center;
            flex-direction: row;
            flex-wrap:      nowrap;

            @extend .d-flex;
        }

        > .head {
            justify-content: flex-start;

            @extend .col-3, .ps-2;
        }

        > .body {
            justify-content: center;

            @extend .col-6;
        }

        > .foot {
            justify-content: flex-end;

            @extend .col-3, .pe-2;
        }
    }

    .logo {
        pointer-events: none;
    }
}

//**********************************************
// App Footer
//**********************************************

#app-footer {
    background-color: var(--app-footer-bg-color);
    box-shadow:       0 -2px 2px 0 rgba(0, 0, 0, 0.1);

    > .container {
        display:               grid;
        align-content:         center;
        align-items:           center;
        justify-content:       center;
        min-height:            $footer-height;
        grid-template-columns: 1fr;
        justify-items:         stretch;
    }
}

//**********************************************
// App Main
//**********************************************

#app-main {
    display:               grid;
    background-color:      var(--app-main-bg-color);
    grid-template-columns: auto;

    > .container {
        height:         100%;
        padding-right:  0;
        padding-bottom: 20px;
        padding-left:   0;

        > :first-child:not(.carousel) {
            margin-top: 40px;
        }

        > :last-child {
            margin-bottom: 0;
        }
    }

    h2 {
        font-size:      calc(1.05rem + 0.9vw);
        font-weight:    700;
        margin-bottom:  16px;
        padding-right:  16px;
        padding-left:   16px;
        letter-spacing: -0.01em;
    }
}

//**********************************************
// App Content
//**********************************************

.app-content {
    padding-bottom: $footer-height;

    @include container(&);

    > .card {
        @extend .mb-2;
    }

    > .navbar {
        background-color: white;
        box-shadow:       0 -2px 2px 0 rgba(0, 0, 0, 0.1);

        @extend .fixed-bottom;

        &, > .container {
            min-height:     $footer-height;
            padding-top:    0;
            padding-bottom: 0;
        }

        > .container {
            display:               grid;
            align-content:         center;
            align-items:           center;
            justify-content:       center;
            grid-template-columns: 1fr;
            justify-items:         stretch;
        }

        .btn {
            @extend .btn-lg;
        }
    }

    > :last-child {
        @extend .mb-0;
    }
}

//**********************************************
// App List
//**********************************************

.app-list {
    &.card {
        padding-bottom: .5rem;
    }

    & > &-item {
        align-items: center;
    }

    &-item {
        @extend .row, .mx-0;

        > * {
            // 1 from 2 columns
            &:first-child:nth-last-child(2):not(.body) {
                @extend %__t-list-key;
                @extend .ps-0, .py-2, .col-7;
            }

            // 2 from 2 columns
            &:last-child:nth-child(2):not(.foot) {
                @extend %__t-list-value;
                @extend .pe-0, .py-2, .col-5;
            }

            // 4 columns
            &:first-child:nth-last-child(4),
            &:nth-child(2):nth-last-child(3),
            &:nth-child(3):nth-last-child(2),
            &:last-child:nth-child(4) {
                @extend .px-0, .col-3;
            }
        }

        > .head {
            @extend .col;
            @extend .ps-0, .col-auto;
        }

        > .body {
            @extend .col;
            @extend .px-0, .col;

            &.card-text > a {
                @extend .d-block, .mt-2;
            }
        }

        > .foot {
            @extend .col;
            @extend .pe-0, .col-auto;
        }
    }
}

//**********************************************
// App Bar
//**********************************************

.app-bar {
    > .head {
        @extend .ps-0, .col-auto;
    }

    > .body {
        @extend .px-0, .col;
    }

    > .foot {
        @extend .pe-0, .col-auto;
    }
}

//**********************************************
// Card
//**********************************************

.card {
    padding:    1rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);

    &-title {
        @extend %__t-card-title, .mb-3;
    }

    &-text {
        @extend %__t-card-text;
    }

    > :only-child,
    > :not(:only-child):first-child {
        @extend .mt-0;
    }

    &:last-of-type,
    > :only-child,
    > :not(:only-child):last-child {
        @extend .mb-0;
    }

    .form > & > div:not(:last-of-type) {
        @extend .mb-3;
    }

    > .alert {
        @extend .d-flex, .align-items-baseline;

        > img {
            @extend .me-2;
        }
    }
}

.property-summary {

}

//**********************************************
// Form
//**********************************************

.form {
    @extend .app-content;

    .btn-group {
        @extend .d-flex;
    }

    .feedback {
        color: var(--bs-danger);
        @extend .d-none;

        &.show {
            @extend .d-block;
        }
    }

    &-label, &-check-label {
        font-size:   0.9rem;
        font-weight: 500;
        width:       100%;
        color:       #344054;

        > .foot, > .feedback {
            @extend .float-end, .ms-2;
        }

        > .feedback.show + .foot {
            @extend .d-none;
        }

        > .foot {
            @extend .d-block, .text-body-tertiary;
        }

        @extend .clearfix;
    }

    &-control, &-select {
        font-size:        0.9rem;
        color:            var(--bs-body-color);
        border:           1px solid #d0d5dd;
        border-radius:    6px;
        background-color: white;
        box-shadow:       0 1px 2px 0 rgba(0, 0, 0, 0.1);
    }
}

//**********************************************
// Carousel
//**********************************************

.carousel {
    .container > & {
        @extend .mb-4;
    }

    &-item {
        > img {
            @extend .d-block, .w-100;
        }
    }
}

//**********************************************
// Modal
//**********************************************

.modal {
    &-body {
        @extend .p-0;
    }

    .btn-close {
    }
}

//**********************************************
// Location
//**********************************************

.map {
    &-thumb {
        @extend .position-relative;

        > .backdrop {
            @extend .border, .rounded, .img-fluid, .w-100;
        }

        > .overlay {
            top:   calc(50% - 18px);
            right: calc(50% - 15px);

            @extend .position-absolute;
        }
    }
}

//**********************************************
// Gallery
//**********************************************

.gallery {
    &-thumb {
        @extend .row-cols-3, .mb-1;

        > .col {
            @extend .mb-2;

            > img {
                @extend .rounded, .img-fluid;
            }
        }
    }
}

//**********************************************
// Heading
//**********************************************

h1, h2, h3, h4, h5, h6 {
    @include container(&);
}
