// Bootstrap
@import "bootstrap";

// Application Modules
@import "mixins";
@import "typography";
@import "layot";
@import "form";

//**********************************************
// Variables
//**********************************************
// 1rem = 16px, rate = 0.0625

:root,
[data-theme="light"] {
    color-scheme:          light;
    --app-header-bg-color: white;
    --app-footer-bg-color: white;
    --app-main-bg-color:   #F9F9F9;
}

[data-theme="dark"] {
    color-scheme:          dark;
    --app-header-bg-color: var(--bs-primary-rgb);
    --app-footer-bg-color: var(--bs-primary-rgb);
    --app-main-bg-color:   var(--bs-body-bg);
}

$header-height: 4rem;
$footer-height: 5rem;

//**********************************************
// Reset
//**********************************************

body {
    overflow-x: hidden;
    min-height: 100vh;
}

//**********************************************
// Application
//**********************************************

#app {
    display:            grid;
    align-content:      space-between;
    align-items:        start;
    height:             100vh;
    grid-template-rows: auto 1fr;
    grid-auto-rows:     auto;
    justify-items:      stretch;
}

//**********************************************
// App Header
//**********************************************

#app-header {
    z-index:          $zindex-sticky;
    overflow-x:       hidden;
    background-color: var(--app-header-bg-color);
    box-shadow:       0 2px 2px 0 rgba(0, 0, 0, 0.1);

    @extend .position-sticky, .top-0, .py-0;

    &, > .app-container {
        height: $header-height;
    }

    > .app-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        //@extend .px-0;

        > * {
            display: flex;
            align-items:    center;
            flex-direction: row;
            flex-wrap:      nowrap;
        }

        > .head {
            justify-content: flex-start;

            @extend .col-3, .ps-2;
        }

        > .body {
            justify-content: center;

            @extend .col-6;
        }

        > .foot {
            justify-content: flex-end;

            @extend .col-3, .pe-2;
        }
    }

    .logo {
        pointer-events: none;
    }
}

//**********************************************
// App Footer
//**********************************************

#app-footer {
    overflow-x:       hidden;
    background-color: var(--app-footer-bg-color);
    box-shadow:       0 -2px 2px 0 rgba(0, 0, 0, 0.1);

    > .app-container {
        display:               grid;
        align-content:         center;
        align-items:           center;
        justify-content:       center;
        min-height:            $footer-height;
        grid-template-columns: 1fr;
        justify-items:         stretch;
    }
}

//**********************************************
// App Main
//**********************************************

#app-main {
    display:               grid;
    overflow-x:            hidden;
    background-color:      var(--app-main-bg-color);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: start;
    min-height: 100%;

    > .app-container {
        height:         100%;
        padding-right:  0;
        padding-bottom: 20px;
        padding-left:   0;

        > :first-child:not(.carousel) {
            margin-top: 40px;
        }

        > :last-child {
            margin-bottom: 0;
        }
    }

    h2 {
        font-size:      calc(1.05rem + 0.9vw);
        font-weight:    700;
        margin-bottom:  16px;
        padding-right:  16px;
        padding-left:   16px;
        letter-spacing: -0.01em;
    }
}

//**********************************************
// App Content
//**********************************************

.app-container {
    width:        100%;
    margin-right: auto;
    margin-left:  auto;
}

//**********************************************
// App Content
//**********************************************

.app-content {
    padding-bottom: $footer-height;

    @include container(&);

    > .app-card {
        @extend .mb-2;
    }

    > .navbar {
        background-color: white;
        box-shadow:       0 -2px 2px 0 rgba(0, 0, 0, .1);
        padding-top:    0;
        padding-bottom: 0;

        @extend .fixed-bottom, .navbar-expand;

        &, > .app-container {
            min-height:     $footer-height;
        }

        > .app-container {
            display:               grid;
            align-content:         center;
            align-items:           center;
            justify-content:       center;
            grid-template-columns: 1fr;
            justify-items:         stretch;
        }

        .btn {
            height:       3rem;
            max-height:   3rem;
            border-width: 0;

            @extend %__t-button-lg;
            @extend .btn-lg;
            @include container(&, 1rem);

            &, &.btn-primary {
                color:            white;
                background-color: #2f56ff;
            }

            &.btn-secondary {
                color:            #2f56ff;
                background-color: rgba(47, 86, 255, .1);
            }
        }
    }

    > :last-child {
        @extend .mb-0;
    }
}

//**********************************************
// App Card
//**********************************************

.app-card {
    padding:    1rem;
    border: 1px solid #e3e3e3;
    border-radius: .625rem;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15);

    .card-title {
        @extend %__t-card-title;
        @extend .mb-3;
    }

    .card-text {
        @extend %__t-card-text;

        > a.d-block {
            @extend .mt-2;
        }
    }

    > :only-child,
    > :not(:only-child):first-child {
        @extend .mt-0;
    }

    &:last-of-type,
    > :only-child,
    > :not(:only-child):last-child {
        @extend .mb-0;
    }

    .app-form > & > div:not(:last-of-type) {
        @extend .mb-3;
    }

    .alert {
        @extend .d-flex, .align-items-baseline;

        > img {
            @extend .me-2;
        }
    }
}

//**********************************************
// Carousel
//**********************************************

.carousel {
    .app-container > & {
        @extend .mb-4;
    }

    &-item {
        > img {
            @extend .d-block, .w-100;
        }
    }
}

//**********************************************
// Modal
//**********************************************

.modal {
    &-body {
        @extend .p-0;
    }

    .btn-close {
    }

    &-gallery {

    }

    &-map {

    }
}

//**********************************************
// Button
//**********************************************

.btn {
    border-radius: .5rem;
    position: relative;

    &-link {
        @extend .px-0;
    }

    > .badge {
        position: absolute;
        top: 0;
        left: 100%;
        transform: translate(-50%, -50%);

        @extend .rounded-pill, .bg-danger;
    }
}

//**********************************************
// Location
//**********************************************

.map {
    &-thumb {
        @extend .position-relative;
    }

    &-preview {
        @extend .border, .rounded, .img-fluid, .w-100;
    }

    &-overlay {
        top:   calc(50% - 18px);
        right: calc(50% - 15px);

        @extend .position-absolute;
    }

    &-backdrop {
        @extend .img-wrapper;

        height: 100%;
    }
}

//**********************************************
// Gallery
//**********************************************

.gallery {
    &-thumb {
        @extend .row, .row-cols-3, .mb-1;

        > * {
            @extend .col, .mb-2;

            > img {
                @extend .rounded, .img-fluid;
            }
        }
    }
}

.photo-backdrop {
    @extend .img-wrapper;

    background-size: contain;
    height: auto;
}


//**********************************************
// Property summary
//**********************************************

.property-summary {
    > .badges {
        flex-wrap: wrap;

        @extend .d-flex, .mb-3;

        > .badge {
            align-items:   center;
            flex-wrap:     nowrap;
            height:        1.375rem;
            padding-right: .375rem;
            padding-left:  .375rem;
            border-radius: .15rem;

            @extend %__t-badge-summary;
            @extend .d-flex, .me-2, .mb-1, .py-0;

            &, &.bg-secondary {
                background-color: #f2f4f7 !important;
            }

            &.bg-success {
                background-color: #ebfbf1 !important;
            }

            &.bg-warning {
                background-color: #fff4d0 !important;
            }

            > img {
                @extend .me-1;
            }
        }
    }

    > .price {
        @extend %__t-price-summary;
        @extend .mb-4;

        > small {
            @extend %__t-price-summary-small;
            @extend .ps-1;
        }
    }

    > .info {
        align-items:     stretch;
        flex-direction:  row;
        flex-wrap:       nowrap;
        justify-content: space-between;

        @extend .d-flex;

        > .app-list {
            > * {
                display: flex;
                overflow-x:      hidden;
                flex-wrap:       nowrap;
                justify-content: flex-start;
                white-space:     nowrap;
            }

            > .media {
                align-items: flex-start;
                min-height:  1.625rem;
            }

            > .key {
                align-items: center;

                @extend %__t-stack-summary-small;
                @extend .py-2;
            }

            > .value {
                align-items: flex-end;

                @extend %__t-card-subtitle;
            }
        }
    }
}

//**********************************************
// Heading
//**********************************************

h1, h2, h3, h4, h5, h6 {
    .app-container > & {
        @include container(&);
    }
}

//**********************************************
// Image
//**********************************************

.img-wrapper {
    background: no-repeat center center;
    background-size: cover;
    display: block;
    max-width: 100%;
    width: 100%;
    //height: auto;
}
