// Configuration
//@import "themes/default";
//@import "variables";
//@import "app";

// Elements
//@import "elements/dropdown";

// Bootstrap icons
//@import "bootstrap-icons/icons";
//@import "bootstrap-icons/font/bootstrap-icons";

// Bootstrap
//@import "~bootstrap/scss/bootstrap";

// Configuration
//@import "bootstrap/scss/mixins";

// Layout & components
//@import "bootstrap/scss/dropdown";

[data-theme="dark"] {
  --bg-color: #121416;
  --font-color: #f4f4f4;
}

[data-theme="light"] {
  --bg-color: #f4f4f4;
  --font-color: #121416;
}

.body-app {
  background-color: var(--bg-color);
  color: var(--font-color);
}