// Configuration
@import "themes/default";
@import "variables";

// Bootstrap icons
//@import "bootstrap-icons/font/bootstrap-icons";

// Bootstrap
@import "bootstrap/scss/bootstrap";

// Fonts
@font-face {
  font-family: "Futura";
  src: url("#{$fonts}futura.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "FuturaLight";
  src: url("#{$fonts}futura_light_bt.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "FuturaMedium";
  src: url("#{$fonts}futura_medium_bt.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "FuturaMediumCondensed";
  src: url("#{$fonts}futura_medium_condensed_bt.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
