# Logs
logs
*.log
*.log*

# Dependencies
node_modules
.pnp
.pnp.js
*.local
*-lock.json

# Production
build
dist
dist-ssr

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage

# Misc
.env
.env.*
