.app-header {
    position: sticky;
    top:      0;

    &,
    > .app-container {
        align-items: center;
        min-height:  $header_height;
    }

    .head {
        @extend %jx-col-3;
    }

    .body {
        @extend %jx-grid-6;

        > .navbar {
            @extend %jx-row;
            @extend %jx-gap-half;
            justify-content: center;
            grid-gap:        1rem;
            font-size:       1.125rem;
        }

        .dropdown {
            > .dropdown-toggle {
                font-size: 1.125rem;
                border:    none;
            }
        }
    }

    .foot {
        @extend %jx-col-3;
        @extend %jx-grid;
        justify-items: end;
    }

    .title {
    }

    .dropdown {
        > .dropdown-toggle {
            background-color: transparent;
        }
    }
}
