.app-jumbotron {
    min-height:          320px;
    background-color:    #5d4437;
    background-image:    url("#{$media}bg_jumbotron_search.jpg");
    background-repeat:   no-repeat;
    background-size:     cover;
    background-position: center top;
}