.app-main {
  background-color: var(--app-main-bg-color);
  display: grid;
  grid-template-columns: auto;

  > .container {
    height: 100%;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 40px;
  }

  h2 {
    font-size: calc(1.05rem + 0.9vw);
    font-weight: 700;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
  }
}
