.app-main {
  background-color: var(--app-main-bg-color);
  display: grid;
  grid-template-columns: auto;
  min-height: 300px;
  height: 1fr;

  > .container {
    height: 100%;
    padding-left: 8px;
    padding-right: 8px;
  }

  h2 {
    margin-left: 16px;
    margin-right: 16px;
  }
}
