.app-main {
    display:               grid;
    background-color:      var(--app-main-bg-color);
    grid-template-columns: auto;

    > .container {
        height:         100%;
        padding-right:  0;
        padding-bottom: 20px;
        padding-left:   0;

        > :first-child:not(.carousel) {
            margin-top: 40px;
        }

        > :last-child {
            margin-bottom: 0;
        }
    }

    h2 {
        font-size:      calc(1.05rem + 0.9vw);
        font-weight:    700;
        margin-bottom:  16px;
        padding-right:  16px;
        padding-left:   16px;
        letter-spacing: -0.01em;
    }

    //font-family: Inter;
    //font-size: 22px;
    //font-weight: 700;
    //line-height: 27px;
    //letter-spacing: -0.01em;
    //text-align: left;
}
