// Bootstrap
@import "src/assets/scss/bootstrap";

// Commons
@import "../../assets/scss/common";

// Application
#app {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-auto-rows: auto;
  align-content: space-between;
  align-items: start;
  justify-items: stretch;
  height: 100vh;
}
