// Bootstrap
@import "src/assets/scss/bootstrap";

// Common styles
@import "../../assets/scss/common";

// Application
#app {
    display:            grid;
    align-content:      space-between;
    align-items:        start;
    height:             100vh;
    grid-template-rows: auto 1fr;
    grid-auto-rows:     auto;
    justify-items:      stretch;
}
