// Bootstrap
@import "src/assets/scss/bootstrap";

// Application
#app {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-auto-rows: auto;
  align-content: space-between;
  align-items: start;
  justify-items: stretch;
  height: 100vh;
}

// Themes
@import "src/assets/scss/themes/default/light";
@import "src/assets/scss/themes/default/dark";

// Commons
@import "src/assets/scss/commons";
