//@import "bootstrap/scss/containers";
//@import "bootstrap/scss/bootstrap";
.app-container {
  width: 100%;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;

  //@extend .container-fluid;
}
