@import "src/assets/scss/mixins";

$height: 64px;

.app-header {
    position:         sticky;
    z-index:          1020;
    top:              0;
    background-color: var(--app-header-bg-color);
    box-shadow:       0 2px 2px 0 rgba(0, 0, 0, 0.1);

    > .container {
        @include bar($height);
    }

    .logo {
        pointer-events: none;
    }
}
