@import "src/assets/scss/mixins/bar";

$height: 64px;

.app-header {
  background-color: var(--app-header-bg-color);
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);

  > .container {
    @include bar($height);
  }

  .logo {
    pointer-events: none;
  }

  .title {
    font-size: 4rem;
    font-weight: 500;
    margin: 0;
  }
}
