$height: 80px;

.app-footer {
  background-color: var(--app-footer-bg-color);
  box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.1);

  > .container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: stretch;
    align-content: center;
    align-items: center;
    min-height: $height;
  }
}
